@{
    ViewData["Title"] = "SignUp";
}
<div class="row">
    <div class="col-md-8 col-md-offset-3 well">
        <h2>SignUp</h2>
        <h3 style="color:red">@(TempData["message"] != null ? TempData["message"].ToString() : "")</h3>
        <form method="post" action="/account/signup">
            <input type="text" class="form-control" name="name" placeholder="Name" />
            <br />
            <input type="text" class="form-control" name="email" placeholder="Email" />
            <br />
            <input type="password" class="form-control" name="password" placeholder="Password" />
            <br />
            <button class="btn btn-primary">Sign Up</button>
        </form>
    </div>
</div>